data/
*.idx
*.db
*.wal
sensor/data/data/_internal/_series/07/0000
sensor/data/data/_internal/_series/06/0000
sensor/data/data/_internal/_series/05/0000
sensor/data/data/_internal/_series/04/0000
sensor/data/data/_internal/_series/03/0000
sensor/data/data/_internal/_series/02/0000
sensor/data/data/_internal/_series/01/0000
sensor/data/data/_internal/_series/00/0000
